$color01: #f0f2f5;
$color02: white;


// colors
// size
$size01: 14px;
$size02: 16px;
$size03: 330px;
$size04: 106px;
$size05: 301.06px;
// fontssize
$fontsize01: 24px;
$fontsize02: 17px;
$fontsize03: 28px;